.landing {
    align-items: start;
    background-color: #f8f6f0;
    display: grid;
    justify-items: center;
    width: 100vw;
  }
  
  .landing .div-2 {
    background-color: var(--warm-marble);
    height: 874px;
    overflow: hidden;
    position: relative;
    width: 402px;
  }
  
  .landing .status-bar {
    align-items: center;
    background-color: var(--turmeric);
    display: flex;
    gap: 154px;
    height: 54px;
    justify-content: center;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 0;
    width: 402px;
  }
  
  .landing .time {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    height: 22px;
    justify-content: center;
    padding: 2px 0px 0px;
    position: relative;
  }
  
  .landing .text-wrapper {
    color: var(--primary-text);
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -2.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .landing .levels {
    flex: 1;
    flex-grow: 1;
    height: 22px;
    position: relative;
  }
  
  .landing .frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 54px;
    width: 402px;
  }
  
  .landing .hero {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--turmeric);
    border-radius: 32px 32px 0px 0px;
    box-shadow: 0px 1px 4px #00000040;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px 24px 0px;
    position: relative;
    transform: rotate(180deg);
    width: 100%;
  }
  
  .landing .leaf-frame {
    align-items: flex-start;
    align-self: stretch;
    background-image: url(./leaf-frame.png);
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 1px 4px #6b6b6b;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    margin-top: -24.00px;
    padding: 63px 64px;
    position: relative;
    width: 100%;
  }
  
  .landing .base-logo-instance {
    aspect-ratio: 3.76 !important;
    height: 59.89px !important;
    position: relative !important;
    transform: rotate(-180deg) !important;
    width: 225px !important;
  }
  
  .landing .design-component-instance-node {
    height: 60px !important;
    width: unset !important;
  }
  
  .landing .base-logo-2 {
    height: 5px !important;
    left: 141px !important;
    top: 55px !important;
    width: 85px !important;
  }
  
  .landing .base-logo-3 {
    height: 59px !important;
    width: 225px !important;
  }
  
  .landing .input {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    margin-left: -1.00px;
    margin-right: -1.00px;
    padding: 24px;
    position: relative;
  }
  
  .landing .login {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .landing .section-margin {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 5px;
    padding: 0px 8px;
    position: relative;
  }
  
  .landing .margin-line {
    height: 1.16px;
    position: relative;
    width: 120px;
  }
  
  .landing .phone-typography-scale {
    flex: 0 0 auto !important;
    padding: 8px !important;
  }
  
  .landing .phone-typography-instance {
    color: var(--secondary-text) !important;
  }
  
  .landing .box {
    background-color: var(--app-foreground);
    border: 0.4px solid;
    border-color: var(--success-green);
    border-radius: 18px;
    height: 40px;
    position: relative;
    width: 233px;
  }
  
  .landing .phone-typography-scale-instance {
    border-radius: 8px !important;
    height: 21px !important;
    justify-content: unset !important;
    left: 12px !important;
    padding: 8px 0px !important;
    top: 10px !important;
  }
  
  .landing .phone-typography-2 {
    color: var(--steeldark) !important;
    font-size: 14px !important;
    letter-spacing: -0.70px !important;
    margin-bottom: -7.00px !important;
    margin-top: -9.00px !important;
  }
  
  .landing .otp {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    justify-content: center;
    position: relative;
  }
  
  .landing .box-2 {
    align-items: center;
    background-color: var(--app-foreground);
    border: 0.4px solid;
    border-color: var(--success-green);
    border-radius: 18px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 8px;
    position: relative;
  }
  
  .landing .phone-typography-wrapper {
    align-items: center;
    background-color: var(--warm-beige);
    border: 0.4px solid;
    border-color: var(--steeldark);
    border-radius: 10px;
    display: inline-flex;
    flex: 0 0 auto;
    margin-bottom: -0.40px;
    margin-left: -0.40px;
    margin-top: -0.40px;
    padding: 2px 4px;
    position: relative;
  }
  
  .landing .phone-typography-3 {
    border-radius: 8px !important;
    flex: 0 0 auto !important;
    height: 24px !important;
    justify-content: unset !important;
    padding: 8px 0px !important;
  }
  
  .landing .phone-typography-4 {
    margin-bottom: -4.00px !important;
    margin-top: -6.00px !important;
    text-align: center !important;
  }
  
  .landing .phone-typography-5 {
    color: var(--steeldark) !important;
    margin-bottom: -4.00px !important;
    margin-top: -6.00px !important;
    text-align: center !important;
  }
  
  .landing .continue {
    align-items: center;
    background-color: var(--cream-walls);
    border: 2px solid;
    border-color: var(--warm-beige);
    border-radius: 18px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 111px;
    height: 44px;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
  }
  
  .landing .text {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    height: 44px;
    justify-content: center;
    margin-bottom: -8.00px;
    margin-top: -8.00px;
    position: relative;
  }
  
  .landing .phone-typography-6 {
    border-radius: 8px !important;
    flex: 0 0 auto !important;
    height: 21px !important;
    justify-content: unset !important;
  }
  
  .landing .overlap {
    height: 62px;
    left: 0;
    position: absolute;
    top: 840px;
    width: 402px;
  }
  
  .landing .section-margin-wrapper {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    left: 26px;
    padding: 8px;
    position: absolute;
    top: 19px;
  }
  
  .landing .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 5px;
    padding: 0px 8px;
    position: relative;
    width: 100%;
  }
  
  .landing .badge-chip-text-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    position: relative;
  }
  
  .landing .badge-chip-text {
    color: transparent;
    font-family: "Inter-Medium", Helvetica;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.50px;
    line-height: 11px;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .landing .span {
    color: #6b6b6b;
    font-weight: 500;
    letter-spacing: -0.05px;
  }
  
  .landing .text-wrapper-2 {
    color: #6b8e23;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: -0.05px;
    text-decoration: underline;
  }
  
  .landing .home-indicator {
    height: 34px;
    left: 0;
    position: absolute;
    top: 0;
    width: 402px;
  }
  
  .landing .home-indicator-2 {
    background-color: var(--colors-labels-primary);
    border-radius: 100px;
    height: 5px;
    left: 129px;
    position: relative;
    top: 21px;
    transform: rotate(180deg);
    width: 144px;
  }
  
  .landing .t-and-c {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 65px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 797px;
    width: 402px;
  }
  
  .landing .contents {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    position: relative;
    width: 349px;
  }
  
  .landing .phone-typography-7 {
    left: 88px !important;
    padding: 16px !important;
    position: absolute !important;
    top: 712px !important;
  }
  
  .landing .phone-typography-8 {
    color: var(--success-green) !important;
    text-decoration: underline !important;
  }
  